{% extends 'base_2cols.html' %}
{% load page_corr %}

{% block first_col %}
    {% thumb_cart cart %}
{% endblock %}

{% block second_col %}
    <h2>{{ user }} <small>{{ user.email }}</small></h2>
    <h4>{{ user.phone }}</h4>
    {% if not orders %}
        <h4>Вы ничего не заказывали</h4>
    {% endif %}
    {% for ord in orders %}
        <div id="modal-{{ ord.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Заказ от {{ ord.creation_date }}</h4>
              </div>
              <div class="modal-body">
                <div class="alert alert-warning" role="alert"><h3>{{ ord.status }}</h3></div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ ord.mealprices }}
                    </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 text-right"><h4>Сумма: {{ ord.sum_price }}&nbsp;₽</h4></div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
{#                <button type="button" class="btn btn-primary">Save changes</button>#}
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="col-xs-6">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-{{ ord.id }}">Заказ #{{ ord.id }}</button>
            <p>{{ ord.creation_date }}</p>
        </div>
    {% endfor %}
{% endblock %}